body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #333333;
    color: #FFFFFF;
}



#header {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0px;
    background-color: #222222;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 80px;
    background-color: #222222;
  }
  
  li {
    padding: 20px 0;
    float: left;
    border-left: 1px solid #bbb;
    height: 80px;
    
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
  }

  li a:hover {
    background-color: #111;
  }

  .left-link {
    font-size: 30px;
}


#main-content {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
}

#text {
    font-size: 30px;
    width: 35vw; 
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vh; /* Add space above the div */
}

.text-box {
    width: 40vw; /* 40% of the viewport's width */
    height: 25vh; /* 15% of the viewport's height */
    padding: 1vw; /* 1% of the viewport's width */
    border: 1px solid #CCCCCC;
    background-color: #444444;
    color: #FFFFFF;
    margin-right: 2vw; /* 2% of the viewport's width */
    font-family: 'Roboto', sans-serif;
    font-size: 1.9vw; /* 1.9% of the viewport's width */
    border-radius: 1vw; /* 1% of the viewport's width */
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 60px;
}

#buttons a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60vw;
    height: 40vh;
    padding: 2vw;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black;
    border-radius: 10px; 

}

#buttons a > img {
    height: 40%; /* 50% of the button's height */
    width: auto; /* maintain aspect ratio */
}


#recordingText {
    margin-bottom: -30px;
    font-size: 24px;
    color: red;
    display: none;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.blink-animation {
    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
}

.medium-btn img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-top: 25px;
}

#speechImage {
    position: relative;
    bottom: 0;
    width: 10vw; /* 10% of the viewport's width */
    height: 60%; /* maintain aspect ratio */
}

#playImage {
    position: relative;
    bottom: 0;
    margin-top: 80px;
    width: 10vw; /* 10% of the viewport's width */
    height: 50%; /* maintain aspect ratio */
    margin-top: 8vh;
}

#talkImage {
    position: relative;
    bottom: 0;
    width: 10vw; /* 10% of the viewport's width */
    height: 30%; /* maintain aspect ratio */
    margin-top: 4vh;
}