<!DOCTYPE html>
<html>
<head>
    <title>LeTranslate</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> <!--href="style.css">-->
</head>
<body>
    <div id="header">
        <ul>
            <li><a href="site.html" class ="left-link">LeTranslate</a></li>
            <li style = "float:right"><a class="active" href="login">Login/Signup</a></li>
        </ul>
    </div>
    <div id="text">
        About Us
    </div>
<div id="main-content">
        <div class="text-box">
            We are LeAlgorithm, our names are Nathan Nguyen, Brian Liu, Vincent Li, and we are all freshmen here at Cal Hacks hoping to gain experience with AI and programming. We hope that we can create something impactful for others during our time here at CalHacks.
        </div>
        <div class="text-box">
            LeTranslate is an application aiming to provide accurate translations for the real world! We created a speech translator that works realtime to provide easy and reliable communication. This application could largely expand by learning from individual and global user inputs.
    </div>
</div>
            <div id="recordingText">Recording...</div>

        <div id="buttons">
            <a id="speechButton" class="medium-btn" href="#" onclick="toggleRecording()">
                <span id="speechText">Speech to Speech Translation</span>
                <img id="speechImage" src="https://cdn.onlinewebfonts.com/svg/img_454939.png" alt="Speech to Speech" />
            </a>

            <a id="playbutton" class="medium-btn" href="#" onclick="togglePlay()">
                <span id = "practiceWords"> Practice Words with AI</span>
                <img id="playImage" src="https://freepngimg.com/thumb/play_button/25623-4-play-button-transparent-background.png" alt="Practice" />
            </a>
            
            <a id="talkbutton" class="medium-btn" href="#" onclick="toggleTalk()">
                <span id = "freqPhrase"> Frequently Translated Phrases </span>
                <img id="talkImage" src="https://media.istockphoto.com/id/490590566/vector/speaking-icon-on-a-white-background-singleseries.jpg?s=612x612&w=0&k=20&c=FwcTP6uZ6yHIl7jyf0fRyLwuHxAa8yegOq0OYPQ2Ph0=" alt="Phrases" />
            </a>
        </div>
        
    <script 
        type="text/javascript" src="{{url_for('static', filename='index.js')}}"
    ></script>
</body>
</html>